<title>{{ page.title }}</title>

<meta name="description" content="{{page.title}}: {{page.description}}">
<meta charset="utf-8">

<link rel="stylesheet" href="/css/main.css">
<link href="https://fonts.googleapis.com/css?family=Raleway:400,700%7CSource+Code+Pro:400" rel="stylesheet" type="text/css">
<link rel="shortcut icon" type="image/x-icon" href="/assets/favicons/favicon.ico">

{% if page.swipebox %}
  <link rel="stylesheet" href="/css/swipebox.min.css">
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"
          integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
          crossorigin="anonymous">
  </script>
  <script src="/js/jquery.swipebox.min.js"></script>
{% endif %}
