<title>{{ page.title }}</title>

<meta name="description" content="{{page.title}}: {{page.description}}">
<meta charset="utf-8">

<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Merriweather:300,400,800%7COpen+Sans:400,700%7CSource+Code+Pro:400" rel="stylesheet" type="text/css">
<link rel="shortcut icon" type="image/x-icon" href="/assets/favicons/favicon.ico">
