<div id="navbar" class="nav-container">
  <div class="title-container">
    <a id="nav-home" href="/">
      <div class="nav-item">{{ site.subtitle }}</div>
    </a>
  </div>
  <div class="pages-container">
    <a id="nav-about" href="/projects/">
      <div class="nav-item">Projects</div>
    </a>
    <a id="nav-about" href="/events/">
      <div class="nav-item">Events</div>
    </a>
    <a id="nav-resources" href="/resources/">
      <div class="nav-item">Resources</div>
    </a>
  </div>
</div>
