{% include navbar.html %}
<div id="main-div">
  {% if page.header %}
    <div id="post-image-header">
      <img src={{ page.header }}>
    </div>
  {% endif %}
  <div id="post">
    <div class="post-title">{{ page.title }}</div>
    <div class="post-date">
      {% if page.artist %}
        {{ page.artist }}
      {% elsif page.date %}
        {{ page.date | date: "%d %B %Y" }}
      {% endif %}
    </div>
    {% if page.subtitle %}
      <div class="post-subtitle">
        {{ page.subtitle }}
      </div>
    {% endif %}
    <content>
      {{ content }}
      {% include swipebox.html %}
      {% include rt-footer.html %}
    </content>
  </div>
</div>
