{% if page.categories contains "rt" %}
  <hr id="rt-footer-hr">
  <div id="rt-footer">
    Reading and Thinging is an informal get-together that crosses a reading group with a ’show and tell’ session – exploring different themes in philosophy, science and culture through a curated reading list and discussion of objects.The project is a collaboration between current FACT PhD researchers <a href="http://alexpearl.miriadonline.info/">Alex Pearl</a> and <a href="http://samskinner.net/">Sam Skinner</a>, and FACTLab residents <a href="http://www.thiagohersan.com/">Thiago Hersan</a> and <a href="https://radames.in/">Radamés Ajna</a>, as an opportunity to make different areas of research, like philosophy, media theory and robotics, open and accessible, and to develop a community of readers, thinkers and thingers! that mixes theory and making.
  </div>
{% endif %}
