$BACKGROUND: rgba(32,32,32,1);
$TEXT-BACKGROUND: rgba(255,255,255,1);

$TEXT-BASE: rgba(255,255,255,1);
$TITLE-COLOR: darken($TEXT-BASE, 70%);
$TEXT-COLOR: darken($TEXT-BASE, 80%);

$LINK-COLOR: $TITLE-COLOR;
$LINK-COLOR-VISITED: $LINK-COLOR;
$LINK-COLOR-HOVER: lighten($LINK-COLOR, 50%);

$MENU-HOVER: rgba(255,255,255,1);
$MENU: darken($MENU-HOVER, 40%);

$DESKTOP-WIDTH-SITE: 1280px;

$COLUMN-WIDTH: $DESKTOP-WIDTH-SITE/5;
$COLUMN-HORIZONTAL-BORDER: 10px;

$MENU-HORIZONTAL-ITEM-SPACING: 50px;
$MENU-VERTICAL-MARGIN: 40px;
$MENU-HEIGHT: 110px;
$PAGE-LATERAL-SPACE: 25px;
$LIST-VERTICAL-SPACING: 24px;

$TRANSITION-PERIOD: 0.2s;

$one_column: (1 * $COLUMN-WIDTH) + (2 * $COLUMN-HORIZONTAL-BORDER);
$two_columns: (2 * $COLUMN-WIDTH) + (2 * $COLUMN-HORIZONTAL-BORDER);
$desktop_width: (3 * $COLUMN-WIDTH) + (2 * $COLUMN-HORIZONTAL-BORDER);
$three_columns: (4 * $COLUMN-WIDTH) + (2 * $COLUMN-HORIZONTAL-BORDER);

@mixin media-query($canvas) {
  @if $canvas == TWO {
   @media only screen and (min-width: $two_columns) { @content; }
  }
  @else if $canvas == THREE {
   @media only screen and (min-width: $desktop_width) { @content; }
  }
}
