<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    {% include meta.html %}
  </head>
  <body>
    {% include navbar.html %}
    <div id="main-div">
      <div id="post-list" class="post-list-container">
        {% for post in site.posts %}
          {% if page.category == 'all' or post.categories contains page.category %}
            {% unless post.category contains 'draft' %}
              <a class="post-list-item {% cycle 'post-list-item-reverse', '' %}" href="{{ post.url }}">
                <div class="post-image">
                  {% assign assets = "/assets" | append: post.url | replace: "/post/", "/posts/" %}
                  <img src="{{ assets }}cover.jpg" alt="{{ post.title }}" title="{{ post.title }}">
                </div>

                <div class="post-title-container">
                  {% assign daymonthyear = post.date | date: "%d %B %Y" %}
                  <div class="post-title">{{ post.title }}</div>
                  <div class="post-date">{{ daymonthyear }}</div>
                </div>
              </a>
            {% endunless %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </body>
</html>
